@charset "UTF-8";

/* aparelho em pé (portrait) */

body{
    background-color: orangered;
    background-image: url(../imagens/cursoemvideo-empe.JPG);
    font-size: 13px;
    background-position: left center;
    background-repeat: no-repeat;
}