@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(194, 194, 194);
}

header{
    background-color: gray;
}

header h1{
    
    padding: 20px;
    text-align: center;
    
}


i#iburguer{
    background-color: rgba(0, 0, 0, 0.589);
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
}

i#iburguer:hover{
    background-color: aliceblue;
    color: black;
    cursor: grab;
    
}

menu{
    display: none;
}

header ul{
    list-style-type: none;
}

header ul li a{
    color: white;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    background-color: rgb(77, 75, 75);
    margin: 2px;
    border: 2px solid rgba(255, 255, 255, 0.377);
    box-sizing: border-box;
}

header ul li a:hover{
    background-color: rgb(70, 69, 69);
}

main{
    width: 80vw;

    margin: auto;
    background-color: white;
    padding: 20px;
    text-align: justify;
    border-radius: 10px;
    margin-top: 10px;
}

main h2{
    
    margin-bottom: 30px;
}

main p{
    line-height: 20px;
    margin-bottom: 20px;
}

